@import "tailwindcss";

@font-face {
  font-family: "manrope-extra-bold";
  src: url("./assets/fonts/Manrope-ExtraBold.ttf");
}
@font-face {
  font-family: "manrope-bold";
  src: url("./assets/fonts/Manrope-Bold.ttf");
}
@font-face {
  font-family: "manrope-semi-bold";
  src: url("./assets/fonts/Manrope-SemiBold.ttf");
}
@font-face {
  font-family: "manrope-medium";
  src: url("./assets/fonts/Manrope-Medium.ttf");
}

@theme {
  --spacing-logo: 30px;
  --spacing-13: 50px;
  --spacing-47: 190px;
  --spacing-31: 120px;
  --spacing-68: 258px;
  --spacing-70: 273px;
  --spacing-90: 347px;
  --font-manrope-bold: "manrope-bold", sans-serif;
  --font-manrope-semi-bold: "manrope-semi-bold", sans-serif;
  --font-manrope-extra-bold: "manrope-extra-bold", sans-serif;
  --font-manrope-medium: "manrope-medium", sans-serif;
  --tracking-title: -4%;
  --color-primary-gray: #1d1d1d;
  --color-primary-black: #080808;
  --color-primary-green: #01754f;
  --color-secondary-gray: #555555;
  --text-primary-extra-large: 32px;
  --text-primary-large: 28px;
  --text-primary-medium: 20px;
  --text-xss: 10px;
  --radius-primary-20: 20px;
}
